<%- include("../partials/header") %>

    <header>
        <div class="container" id="welcome-message">
            <h1>Welcome to Fish Tank Diary!</h1>
        </div>  
    </header>

    <div class="row" style="display:flex; flex-wrap: wrap;">
        <% if(!currentUser){ %>
            <div id="login-prompt" class="container">
                <h3>Please login or signup to get started.</h3>
                <a id="login-btn" class="btn btn-primary" href="/login"><i class="fas fa-sign-in-alt"></i>Login</a></li>
                <a id="signup-btn" style="display: inline-block;" class="btn btn-primary" href="/register"><i class="fas fa-user-plus"></i>Sign Up</a></li>
                                
            </div>
        <% } else {
            posts.reverse().forEach(function(post){                                                                                                      
                if(post.author.username === currentUser.username){ %>
                    <div class="item main-content">
                        <ul>
                            <li><i class="far fa-calendar"></i>Date: <%= post.created.toLocaleDateString() + " at " + post.created.toLocaleTimeString() %></li>
                            <li><i class="fas fa-eye-dropper"></i></i>pH Level: <%= post.phLevel %></li>
                            <li><i class="fas fa-flask"></i></i>Nitrates: <%= post.nitrates %></li>
                            <li><i class="fas fa-flask"></i></i>Nitrites: <%= post.nitrites %></li>
                            <li><i class="fas fa-disease"></i>Ammonia: <%= post.ammonia %></li>
                            <li><i class="fas fa-faucet"></i></i>Water Changed: <%= post.waterChanged %></li>
                            <li><i class="fas fa-tint"></i></i>  Water Amount: <%= post.waterAmount %>%</li>
                            <li><i class="fas fa-sticky-note"></i>Notes: <%= post.notes %></li>
                            <div class="extra">
                                <a style="margin-top: 20px;" class="btn btn-primary" href="/posts/<%= post._id %>">
                                    More Options
                                </a>
                            </div>
                        </ul>                                
                    </div> 
                <% } %>                                             
            <% }); %>  
        <% } %>        
    </div>



<%- include("../partials/footer") %>